@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply w-full min-h-screen;
  background-color: #546581;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.hachi-maru-pop-regular {
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 300;
  font-style: normal;
}

::-webkit-calendar-picker-indicator {
  display: none;
}
